channels:
  - conda-forge
  - nodefaults
dependencies:
  - python=3.10
  - pip
  - ecflow
  - pip:
    - pyflow-workflow-generator >= 3.4.1
    - "tracksuite @ git+https://github.com/ecmwf/tracksuite.git"